<app-header></app-header>
<app-student-profile></app-student-profile>

<!-- <main style="padding: 20px"><app-demo></app-demo></main> -->
<!-- <section>
    <div>
      <div [attr.aria-hidden]="isVisible ? 'false' : 'true'">
        Secret Content
      </div>
  
   -->
                        <!-- app.component.html -->
  <!-- <button [attr.aria-label]="description">Submit</button> -->
  <!-- app.component.ts -->
<!-- </div> -->
  
  
<!-- <div [attr.data-user-id]="userId">
  Welcome User
</div>

  
  </section> -->
<app-footer></app-footer>

